<div class="col-md-12 login-bg pad-5p">
    <h1 class="text-center clr-white ft-size-43 " ><b>Welcome To Huawei Compliance Mainstream Portal</b></h1>
    <div class="col-md-4 log-form mar-4p mar-top-8">
        <h2 class="text-center clr-white ft-size-43 "><b>Sign In</b></h2>
        <form class="" action="#" autocomplete="off">
          <div class="form-group ">
            <label class="clr-white" for="email">UserName:</label>
            <input type="text" class="form-control box-login " id="email" placeholder="UserName" name="email">
          </div>
          <div class="form-group ">
            <label for="pwd" class="clr-white">Password:</label>
            <input type="password" class="form-control box-login " id="pwd" placeholder="Password" name="pwd">
          </div>
          <div class="checkbox">
            <label><input type="checkbox" name="remember"> Remember me</label>
          </div>
          <button type="submit" class="btn btn-default form-control btn-primary" routerLink="/Compliance-Portal" routerLinkActive="active">Sign In</button>
        </form>
    </div>
  </div>
  