
  <!-- Full Page Image Background Carousel Header -->
  <div id="myCarousel" class="carousel slide max-hgt-350px">
      <!-- Indicators -->
      <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for Slides -->
      <div class="carousel-inner">
          <div class="item active">
              <!-- Set the first background image using inline CSS below. -->
              <img class="fill max-hgt-350px" src= "../../assets/images/compliance.jpg">
              <div class="carousel-caption">
                  <h3 class="animated fadeInRight ft-wgt-bolder">HUAWEI Compliance Mainstream Portal</h3>
                   
              </div>
          </div>
          <div class="item">
              <!-- Set the second background image using inline CSS below. -->
              <img class="fill max-hgt-350px" src="../../assets/images//products.jpg">
              <div class="carousel-caption">
                  <h3 class="animated fadeInRight ft-wgt-bolder">HUAWEI Compliance Mainstream Portal</h3>
                  
              </div>
          </div>
          <div class="item">
              <!-- Set the third background image using inline CSS below. -->
              <img class="fill max-hgt-350px" src = "../../assets/images/reports.jpg">
              <div class="carousel-caption">
                   <h3 class="animated fadeInRight ft-wgt-bolder">HUAWEI Compliance Mainstream Portal</h3>
                   
              </div>
          </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="icon-prev"></span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="icon-next"></span>
      </a>

  </div>


<div class="flex pad-rgt-0 pad-5p pad-rgt-0 pad-btm-0">
  <section class="width-30" routerLink="/products" routerLinkActive="active">
              <!-- Card Flip -->
          <div class="card-flip">
            <div class="flip">
              <div class="front front-card box-shadow pad-2p">
                <!-- front content -->
                <div class="card ">
                  <img class="card-img-top" src="../../assets/images/products.jpg" alt="100%x180" style="height: 180px; width: 100%; display: block;" data-holder-rendered="true">
                  <div class="centered">
                      <h1 class="animated text-size">PRODUCTS</h1>
                 </div>
                  <div class="card-block">
                      <div class="card-block">
                          <h4 class="card-title">Products</h4>
                        </div>
                    <p class="card-text ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium consectetur illum ea in sit qui libero, quasi assumenda modi doloribus ullam veritatis corporis
                      debitis maiores vero voluptate natus rerum doloremque!
                    </p>
                  </div>
                </div>
              </div>
              <div class="back box-shadow pad-2p">
                <!-- back content -->
                <div class="card">
                  <div class="card-block">
                    <h4 class="card-title">Products</h4>
                  </div>
                  <img src="../../assets/images/products.jpg" alt="Image [100%x180]" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
                  <div class="centered">
                      <h1 class="animated text-size">PRODUCTS</h1>
                 </div>
                  <div class="card-block">
                    <p class="card-text pad-2p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt voluptatem voluptatum ipsum tenetur sequi commodi rerum minus autem ipsa recusandae aut saepe,
                      vitae

                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
              <!-- End Card Flip -->
  </section>

  <section class="width-30" routerLink="/CompliancePlatform" routerLinkActive="active">
      <div class=" width-100">
        
                <!-- Card Flip -->
            <div class="card-flip">
              <div class="flip">
                <div class="front front-card box-shadow pad-2p">
                  <!-- front content -->
                  <div class="card ">
                    <img class="card-img-top" src="../../assets/images/compliance.jpg" alt="100%x180" style="height: 180px; width: 100%; display: block;" data-holder-rendered="true">
                    <div class="card-block">
                        <div class="card-block">
                            <h4 class="card-title">Compliance Platform</h4>
                          </div>
                      <p class="card-text ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium consectetur illum ea in sit qui libero, quasi assumenda modi doloribus ullam veritatis corporis
                        debitis maiores vero voluptate natus rerum doloremque!
                      </p>
                    </div>
                  </div>
                </div>
                <div class="back box-shadow pad-2p">
                  <!-- back content -->
                  <div class="card">
                    <div class="card-block">
                      <h4 class="card-title">Compliance Platform</h4>
                    </div>
                    <img src="../../assets/images/compliance.jpg" alt="Image [100%x180]" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
                    <div class="card-block">
                      <p class="card-text pad-2p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt voluptatem voluptatum ipsum tenetur sequi commodi rerum minus autem ipsa recusandae aut saepe,
                        vitae suscipit

                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
                <!-- End Card Flip -->
      </div>
    </section>
    <section class="width-30" routerLink="/Reports" routerLinkActive="active">
        <div class=" width-100">
            
                  <!-- Card Flip -->
              <div class="card-flip">
                <div class="flip">
                  <div class="front front-card box-shadow pad-2p">
                    <!-- front content -->
                    <div class="card ">
                      <img class="card-img-top" src="../../assets/images/reports.jpg" alt="100%x180" style="height: 180px; width: 100%; display: block;" data-holder-rendered="true">
                      <div class="centered">
                          <h1 class="animated text-size">REPORTS</h1>
                     </div>
                      <div class="card-block">
                          <div class="card-block">
                              <h4 class="card-title">Reports</h4>
                            </div>
                        <p class="card-text ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium consectetur illum ea in sit qui libero, quasi assumenda modi doloribus ullam veritatis corporis
                          debitis maiores vero voluptate natus rerum doloremque!
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="back box-shadow pad-2p">
                    <!-- back content -->
                    <div class="card">
                      <div class="card-block">
                        <h4 class="card-title">Reports</h4>
                      </div>
                      <img src="../../assets/images/reports.jpg" alt="Image [100%x180]" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
                      <div class="centered">
                          <h1 class="animated text-size">REPORTS</h1>
                     </div>
                      <div class="card-block">
                        <p class="card-text pad-2p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt voluptatem voluptatum ipsum tenetur sequi commodi rerum minus autem ipsa recusandae aut saepe,
                          vitae

                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                  <!-- End Card Flip -->
            </div>
        
      </section>
  </div>
