<div class="container pad-2p pad-top-7p">
<h3>Productinfo</h3>
<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, sint voluptate optio recusandae suscipit, at illum, laboriosam molestias ullam labore explicabo maiores velit odit.
  <button class="btn test-case-btn" routerLink="/CompliancePlatform" routerLinkActive="active" >Testcases</button> Reprehenderit quis voluptatum doloribus provident repellat.
</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe maiores dignissimos est obcaecati nemo in sed! Minus delectus fugit
  nobis excepturi doloribus laboriosam! Molestias asperiores harum error eos? Mollitia, omnis?
</p>
<p>
  Lorem ipsum dolor sit amet consectetur, <button class="btn test-case-btn" routerLink="/Reports" routerLinkActive="active" >Reports</button> adipisicing elit. Aliquid magnam fugiat maxime, quibusdam pariatur exercitationem et placeat quaerat beatae debitis, quam asperiores,
  obcaecati quidem explicabo iure cumque est impedit consequatur?
</p>
</div>
